{
  "extends": "airbnb-base",
  "rules": {
    "strict": "off",
    "arrow-body-style": ["warn", "always"],
    "space-in-parens": [ "error", "always" ],
    "array-bracket-spacing": [ "warn", "always" ],
    "comma-dangle": [ "error", "never" ],
    "computed-property-spacing": [ "error", "always" ],
    "indent": ["error", 4],
    "max-len": [ "error", 200 ],
    "object-shorthand": [ "warn", "always" ],
    "arrow-parens": [ "error", "always" ]
  }

}
